<hr>
<h4 class="text-center">Select your view:</h4>
<div class="btn-group-center">
    <button class="btn btn-success btn-lg" ng-click="pickDeveloper()">Developer</button>
    <br>
    <br>
    <button class="btn btn-info btn-lg" ng-click="pickAnalyst()">Analyst</button>
</div>

<!--

<tags-input ng-model="selectedTags" add-from-autocomplete-only="true" display-property="name" spellcheck="false">
    <auto-complete source="loadTags($query)" min-length="1" display-property="name" load-on-focus="true" load-on-empty="true"></auto-complete>
</tags-input>

<p ng-show="noResults">No Results</p>


-->
