.inline {
    display: inline !important;
}

h5.inline {
    padding-left: 1em;
    color: #666666;
    font-weight: 400;
}

h4 small {
    padding-left: .5em;
}

.progress {
    margin-top: 1em;
}

.query-wizard-header .modal-header.ng-scope {
    padding-bottom: 0 !important;
}

#queryResultsTable {
    overflow: auto;
    max-height: 300px;
}

#columnList {
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 200px;
    overflow: auto;
}

#loadingIcon {
    display: block;
    margin: auto;
}

#alias-item {
    margin-top: -4px;
    margin-bottom: 5px;
}