/* custom CSS for #/datasets/ */

#dataset_item {
    margin: 1em;
    /*
    clear: both;
    height: 4em;*/
    font-size: 1em;
}

#dataset_item label {
    line-height: 2em;
    vertical-align: middle;
    margin-left: 0.75em;
}

#dataset_item button {
    display: inline-block;
    float: right;
    margin-left: .5em;
}

#dataset_checkbox {
    float: left !important;
    display: inline-block;
    margin: 0.25em;
}

.inline-list {
    list-style-type: none;
    padding: 0;
}

.inline-list li {
    display: inline;
    margin: 0.25em;
}

.status-message {
    width: max-width;
    text-align: center;
    font-size: 1.5em;
    color: darkgray
}

.error-message {
    width: max-width;
    text-align: center;
    font-size: 1.5em;
    color: darkred
}
