/* custom CSS for #/datasets/ */

#dataset_item {
    margin: 1em;
    /*
    clear: both;
    height: 4em;*/
    font-size: 1em;
    color: #696969;
    cursor: pointer;
    background-color: #B9E0A5 !important;
    border: none !important;
}

#dataset_item:hover {
    border-color: #A4C793 !important;
    background-color: #A4C793 !important;
}

#dataset_item label {
    line-height: 2em;
    vertical-align: middle;
    margin-left: 0.75em;
    cursor: pointer;
}

#dataset_item label small {
    font-weight: 400;
    padding-left: .5em;
    color: #B9E0A5 !important;
    cursor: pointer;
}

#dataset_item:hover > label > small {
    color: white !important;
}

#dataset_item button {
    display: inline-block;
    float: right;
    margin-left: .5em;
}

.no_data_warning {
    color: #d9534f;
    font-size: 1.35em;
    top: 4px!important;
}

#dataset_checkbox {
    float: left !important;
    display: inline-block;
    margin: 0.25em;
}

.inline-list {
    list-style-type: none;
    padding: 0;
}

.inline-list li {
    display: inline;
    margin: 0.25em;
}

.status-message {
    width: max-width;
    text-align: center;
    font-size: 1.5em;
    color: darkgray
}

.error-message {
    width: max-width;
    text-align: center;
    font-size: 1.5em;
    color: darkred
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 4px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#editAttributeTable .form-group {
    margin-bottom: 0px;
}