<div ng-include="'views/navbar.html'"></div>
<div class="container-fluid">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
    <div class="row">
        <div class="col-xs-6">
            <input type="text" ng-model="searchText" uib-typeahead="issue.subject for issue in issues | filter:$viewValue | limitTo:8" class="form-control" placeholder="Search Issues"> </div>
        <button id="addIssueBtn" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span>
            <wbr>Open New Issue</button>
        <button id="addIssueBtn" class="btn btn-default pull-right" ng-click="loadIssues()"><span class="glyphicon glyphicon-refresh"></span>
            <wbr>Refresh</button>
    </div>
    <br>
    <div class="container-fluid">
        <!--<checkbox ng-model="filter" ng-true-value="open" ng-false-value="">Open Only</checkbox>-->
        <ul class="list-group issue">
            <li class="list-group-item" ng-click="openThread(issue)" ng-repeat="issue in issues | filter: getFilter()">
                <div class="row">
                    <div align="center" class="openIcon pull-left"> <span ng-class="openStyle(issue)" uib-tooltip="{{openTooltip(issue)}}"></span> </div>
                    <div class="issueText pull-left">
                        <h4 class="issueHeading"><a>{{issue.subject}}</a></h4>
                        <p><small>Opened on {{issue.createDate | date : 'short'}} by </small><span ng-class="roleStyle(issue)">{{issue.opener.username}}</span></p>
                    </div>
                    <div class="pull-right commentCount"> <span class="glyphicon glyphicon-comment"></span>
                        <wbr>{{issue.numComments}} </div>
                </div>
            </li>
        </ul>
    </div>
</div>
