#issueDetails {
    display: inline-block;
    font-size: 1em;
}
.toggleOpenButton {
    display: inline-block;
    margin: 0;
}
.comment {
    margin: 1.5em;
    background-color: whitesmoke !important;
    border: none !important;
}
.comment-header {
    width: 100%;
    height: 40px;
    border: none !important;
    background-color: lightgray !important;
}
.comment-header-timestamp {
    color: #696969 !important;
}
.closeText {
    margin-left: 1.5em;
    font-size: 1.2em;
}
#commentForm {
    margin: 1.5em;
}
#submitCommentButton {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
