/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}


/* Required for Angular-UI */

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}


/* My styling */

#logo {
    height: 3.25em;
    width: 3em;
}

#title {
    /*
    display: inline-block;
    position: relative;
    top: 0.75em;
    margin-left: -0.5em;
    */
    clear: both;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.app-title {
    font-size: 2em;
    padding: .25em 0 0 .5em;
}

.app-title a h1 {
    display: inline-block;
}

.user_type {
    float: right;
    padding-right: 0.25em;
    position: relative;
}

.app-title a:link,
.app-title a:hover,
.app-title a:visited,
.app-title a:active {
    color: black;
    text-decoration: none;
    clear: both;
}

.btn-group-center {
    text-align: center;
    margin: auto;
}

.more_info {
    background: white;
    color: black;
    padding: 0 0.5em 0.5em 0.5em;
    margin-top: 0.5em;
}


/* ------------------ Custom theme options ---------------------- */

.navbar-an {
    border: none !important;
    background-color: #66B2FF !important;
    color: white !important;
    border-radius: 0px !important;
}

.navbar-dev {
    border: none !important;
    background-color: #88C95C !important;
    color: white !important;
    border-radius: 0px !important;
}

.navbar-sup {
    border: none !important;
    background-color: #696969 !important;
    color: white !important;
    border-radius: 0px !important;
}

.navbar-an > .active > a {
    background-color: #A9C4EB !important;
}

.navbar-dev > .active > a {
    background-color: #B9E0A5 !important;
}

.navbar-sup > .active > a {
    background-color: #8A8A8A !important;
}

.navbar-nav > li > a {
    color: white !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding-left: 2px !important;
    color: white !important;
}

.navbar-brand>img {
    padding: 7px 12px;
}

.navbar-spacing {
    margin-top: 0.6em;
    margin-bottom: 0em;
    margin-right: 0em;
    margin-left: 0.25em;
}

.navbar-dropdown {
    height: 40px;
}

.verticalLine {
    background: rgba(255, 255, 255, .6);
    border-radius: 1px;
    width: 2px;
    height: 40px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px!important;
    margin-bottom: 2px !important;
}

.blue {
    background: #d9edf7 !important;
}

.green {
    background: #dff0d8 !important;
}

.light-gray {
    background: #C7C7C7 !important;
}