.table-bordered {
    border-color: #999999 !important;
}

.table-bordered th,
td,
tr {
    border-color: #999999 !important;
}

.table-bordered tbody {
    border-color: #999999 !important;
}

.table-bordered tbody tr,
td {
    border-color: #999999 !important;
}

#compareTable {
    overflow: auto;
}

.grid {
    width: 100%;
    height: 100%;
}

.match {
    background-color: palegreen !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand>img {
    padding: 7px 14px;
}