.matrix {
}

.matrix-header {
    background-color: darkgray !important;
}

.matrix-row-header {
    background-color: whitesmoke!important;
}

.matrix-match-cell {
    background-color: palegreen !important;
}

.matrix-no-match-cell {
    background-color: whitesmoke !important;
}
