<div class="container-fluid">
    <hr>
    <ul class="nav nav-pills">
        <li class="active"><a href="#/analyst/compare">Compare</a></li>
        <li><a href="#/analyst/queries">Query Management</a></li>
    </ul>
    <hr>

    <div class="row">
        <!--Typeaheads go here -->
        <div class="col-md-6">
            <h4>Filter Tags</h4>
            <tags-input ng-model="selectedTags" add-from-autocomplete-only="true" display-property="name" spellcheck="false">
                <auto-complete source="filterTags($query)" min-length="1" display-property="name" load-on-focus="true" load-on-empty="true" max-results-to-show="1000"></auto-complete>
            </tags-input>

            <p ng-show="noTagResults">No Results</p>
            <br>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm" ng-click="selectAllTags()">Select All Tags</button>
                    <button class="btn btn-default btn-sm" ng-click="deselectAllTags()">Deselect All Tags</button>
                </div>
                <button class="btn btn-default btn-sm" ng-click="selectRelevantTags()">Select Relevant Tags</button>
                <button class="btn btn-default btn-sm" ng-click="allowUntagged()" ng-hide="untagged">Show Untagged Attributes</button>
                <button class="btn btn-default btn-sm" ng-click="removeUntagged()" ng-show="untagged">Hide Untagged Attributes</button>
            </div>
        </div>

        <!--Typeaheads go here -->
        <div class="col-md-6">
            <h4>Filter Datasets</h4>
            <tags-input ng-model="selectedDatasets" add-from-autocomplete-only="true" display-property="name" spellcheck="false" placeholder="Add a dataset">
                <auto-complete source="filterDatasets($query)" min-length="1" display-property="name" load-on-focus="true" load-on-empty="true" max-results-to-show="1000"></auto-complete>
            </tags-input>

            <p ng-show="noDatasetResults">No Results</p>
            <br>
            <div class="btn-group">
                <button class="btn btn-default btn-sm" ng-click="selectAllDatasets()">Select All Datasets</button>
                <button class="btn btn-default btn-sm" ng-click="deselectAllDatasets()">Deselect All Datasets</button>
            </div>
            <button class="btn btn-default btn-sm" ng-click="selectRelevantDatasets()">Select Relevant Datasets</button>
        </div>
    </div>

    <hr>
    <br>

    <div class="" id="compareTable">
        <table class="table table-bordered">
            <thead>
                <th></th>
                <th ng-repeat="tag in selectedTags">{{tag.name}}</th>
            </thead>
            <tbody>
                <tr ng-repeat="dataset in selectedDatasets">
                    <td>{{dataset.name}}</td>
                    <td ng-repeat="attr in rows[dataset.name]" class="{{attr.class}}">{{attr.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-group-center">
        <button class="btn btn-success" ng-click="openQueryWizard()">Query Wizard</button>
    </div>
</div>
