<hr>
<h3>Compare</h3>

<!--Typeaheads go here -->

<button class="btn btn-default">Select All Tags</button>
<button class="btn btn-default">Select All Datasets</button>
<button class="btn btn-default">Allow Untagged Attributes</button>
<br>
<br>
<div>
    <table class="table table-bordered">
        <thead>
            <th></th>
            <th ng-repeat="tag in tags">{{tag}}</th>
        </thead>
        <tbody>
            <tr ng-repeat="dataset in data">
                <td>{{dataset.name}}</td>
                <td ng-repeat="attr in buildRow(dataset.attributes, $index)" class="{{attr.class}}">{{attr.name}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="btn-group-center">
    <button class="btn btn-success">Query Wizard</button>
</div>
