.table-bordered {
    border-color: #999999 !important;
}

.table-bordered th,
td,
tr {
    border-color: #999999 !important;
}

.table-bordered tbody {
    border-color: #999999 !important;
}

.table-bordered tbody tr,
td {
    border-color: #999999 !important;
}

#compareTable {
    overflow: auto;
}

.grid {}

.match {
    background-color: #dff0d8 !important;
    border: 1px solid grey;
}
