<ul class="nav nav-pills">
    <li><a href="#">Dashboard</a></li>
    <li class="active"><a href="#/datasets">Datasets</a></li>
    <li><a href="#/queries">Queries</a></li>
</ul>

<h3>Compare</h3>
<ol class="breadcrumb">
    <li><a href="#/datasets">My Datasets</a></li>
    <li class="active">Compare</li>
</ol>

<h2><em>Coming Soon!</em></h2>

<table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr class="danger">
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr class="info">
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
