<div ng-include="'/views/navbar.html'"></div>

<!-- Page Content -->
<div class="container-fluid">
    <div class="col-xs-4 col-md-3 panel panel-default" id="controls">
        <div class="panel-body">
            <button class="btn btn-primary" ng-click="add()"><span class="fa fa-plus"></span> Add Hook</button>
            <hr>
            <div id="custom-search-input">
                <input type="text" size="25" ng-model="query.name" placeholder="Search" uib-typeahead="t.name for t in tags | filter:{name:$viewValue} | limitTo:5" typeahead-no-results="noResults"> </div>
        </div>
    </div>
    <div class="col-xs-8 col-md-9 pull-right" id="tagQueryResults">
        <ul>
            <li id="list_item" ng-repeat="t in tags | orderBy:'name' | filter:query" class="list-group-item" ng-if="t.name != '<EMPTY>'">
                <label>{{t.name}} </label><small> {{t.description}}</small>
                <button class="btn btn-danger" type="button" uib-tooltip="Delete" ng-click="delete(t)"> <span class="fa fa-trash"></span></button>
                <!--<button class="btn btn-info" type="button" uib-tooltip="Edit" ng-click="update(t)"> <span class="fa fa-pencil-square-o"></span></button>-->
            </li>
        </ul>
        <div ng-show="noResults" id="noResults" class="text-danger"> <i class="fa fa-times"></i> No Results Found </div>
    </div>
</div>
