#controls {
    position: fixed;
    padding: 1em;
    padding-top: 0;
}

#metaQueryResults {
    margin-right: .5em;
    padding-top: .5em;
    overflow: auto;
}

#list_item {
    margin: .25em;
    padding: 1em;
    list-style-type: none;
}

#list_item button {
    float: right;
    margin-top: -0.25em;
    margin-right: 0.5em;
}

#noResults {
    margin: .25em;
    padding: 1em;
}

tagQueryResults.label {
    float: left;
    padding-right: 1.5em;
}

small {
    opacity: .8;
}