<!-- Page Content -->
<div class="container-fluid">
    <div id="page_header">
        <hr>
        <ul class="nav nav-pills">
            <li><a href="#/developer/datasets">Data Management</a></li>
            <li class="active"><a href="#/developer/tags">Tag Management</a></li>
        </ul>

        <hr>
    </div>
    <div class="col-md-4 panel panel-default" id="controls">
        <h3>Tags</h3>
        <button class="btn btn-warning" ng-click="add()"><span class="glyphicon glyphicon-plus"></span> Add Tag</button>
        <h5>Search</h5>
        <div id="custom-search-input">
            <input type="text" size="45" ng-model="query.name" uib-typeahead="t.name for t in tags | filter:{name:$viewValue} | limitTo:5" typeahead-no-results="noResults">
        </div>
    </div>

    <br>
    <div class="col-md-8 pull-right" id="tagQueryResults">
        <ul>
            <li id="list_item" ng-repeat="t in tags | orderBy:'name' | filter:query" class="list-group-item active" ng-if="t.name != '<EMPTY>'">
                <label>{{t.name}}</label>
                <small>{{t.description}}</small>
                <button class="btn btn-danger" type="button" uib-tooltip="Delete" ng-click="delete(t)">
                    <span class="glyphicon glyphicon-trash"></span></button>
                <button class="btn btn-info" type="button" uib-tooltip="Edit" ng-click="update(t)">
                    <span class="glyphicon glyphicon-edit"></span></button>
            </li>
        </ul>
        <div ng-show="noResults" id="noResults" class="text-danger">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
    </div>
</div>

<!-- Add Tag Modal -->
<script type="text/ng-template" id="addTagModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Add New Tag</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="newTagName">Name</label>
            <input type="text" class="form-control" id="newTagName" ng-model="input.name">
        </div>
        <div class="form-group">
            <label for="newTagDesc">Description</label>
            <input type="text" class="form-control" id="newTagDesc" ng-model="input.description">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="submit()">Submit</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- Update Tag Modal -->

<script type="text/ng-template" id="tagUpdate.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit {{tag.name}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="tagName">Name</label>
            <input type="text" class="form-control" id="tagName" ng-model="input.name">
        </div>
        <div class="form-group">
            <label for="tagDesc">Description</label>
            <input type="text" class="form-control" id="tagDesc" ng-model="input.description">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="complete()">Save Changes</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- Delete Tag Modal -->

<script type="text/ng-template" id="tagDelete.html">
    <div class="modal-header">
        <h3 class="modal-title"> Delete Tag</h3>

    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete <em><strong>{{tag.name}}</strong></em>? This action cannot be undone!</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>

</script>
