#controls {
    position: fixed;
    padding: 1em;
    padding-top: 0;
    color: white !important;
    background-color: #B9E0A5 !important;
    border: none !important;
}

#metaQueryResults {
    margin-right: .5em;
    padding-top: .5em;
    overflow: auto;
}

#list_item {
    color: white;
    margin: .25em;
    padding: 1em;
    color: #696969 !important;
    list-style-type: none;
    background-color: #B9E0A5 !important;
    border: none !important;
}

#list_item button {
    float: right;
    margin-top: -0.25em;
    margin-right: 0.5em;
}

#noResults {
    margin: .25em;
    padding: 1em;
}

tagQueryResults.label {
    float: left;
    padding-right: 1.5em;
}

small {
    cursor: default;
    opacity: .8;
}
