<!-- Page Content -->
<div id="page_header">
    <ul class="nav nav-pills">
        <li><a href="#">Dashboard</a></li>
        <li class="active"><a href="#/datasets">Datasets</a></li>
        <li><a href="#/queries">Queries</a></li>
    </ul>

    <hr>
    <ol class="breadcrumb">
        <li><a href="#/datasets">My Datasets</a></li>
        <li class="active">Tags</li>
    </ol>
</div>
<div class="col-md-4 panel panel-default" id="controls">
    <h3>Tags</h3>
    <button class="btn btn-warning" ng-click="add()"><span class="glyphicon glyphicon-plus"></span> Add Tag</button>
    <h5>Search</h5>
    <input type="text" size="40" ng-model="query.tag_name" uib-typeahead="t.name for t in tags | filter:{name:$viewValue} | limitTo:5" typeahead-no-results="noResults">
</div>

<br>
<div class="col-md-8 pull-right" id="tagQueryResults">
    <ul>
        <li id="list_item" ng-repeat="t in tags | filter:query" class="list-group-item active">
            <label>{{t.name}}</label>
            <button class="btn btn-danger" type="button" uib-tooltip="Delete"><span class="glyphicon glyphicon-trash"></span></button>
            <button class="btn btn-default" type="button" uib-tooltip="Info"><span class="glyphicon glyphicon-info-sign"></span></button>
        </li>
    </ul>
    <div ng-show="noResults" id="noResults" class="bg-danger">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
</div>

<!-- Add Attribute Modal -->
<script type="text/ng-template" id="addTagModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Add New Tag</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="newTagName">Name</label>
            <input type="text" class="form-control" id="newTagName" ng-model="input.name">
        </div>
        <div class="form-group">
            <label for="newTagDesc">Description</label>
            <input type="text" class="form-control" id="newTagDesc" ng-model="input.description">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="submit()">Submit</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
