#user_item {
    /*
    clear: both;
    height: 4em;*/
    font-size: 1em;
    color: white;
    height: 10em;
    border: 0.75em solid #C7C7C7;
    background-color: #8A8A8A !important;
}

#user_item button {
    display: inline-block;
    float: right;
    margin-left: .5em;
}

#user_item .button-footer {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
