<div ng-include="'/views/navbar.html'"></div>
<!-- Page Content -->
<div class="container-fluid">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div class="row">
        <div class="col-xs-2">
            <div class="btn-group" uib-dropdown is-open="status.filterbyisopen">
                <button id="filterBy-button" class="btn btn-primary dropdown-toggle" type="button" uib-dropdown-toggle> Filter <span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="filterBy-button">
                    <li role="menuitem"><a prevent-default ng-click="setFilter('ANALYST')">Analysts</a></li>
                    <li role="menuitem"><a prevent-default ng-click="setFilter('DEVELOPER')">Developers</a></li>
                    <li role="menuitem"><a prevent-default ng-click="setFilter('ADMIN')">Admins</a></li>
                    <li role="separator" class="divider"></li>
                    <li role="menuitem"><a prevent-default ng-click="setFilter(null)">All</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4">
            <div id="custom-search-input">
                <input type="text" size="30" ng-model="query.username" placeholder="Search" uib-typeahead="u.username for u in userList | filter:{username:$viewValue} | limitTo:5" typeahead-no-results="noResults"> </div>
        </div>
    </div>
    <hr>
    <div class="status-message" ng-show="showNoUsersMessage"> NO USERS </div>
    <uib-progressbar value="100" class="progress-striped active" ng-show="showProgressBar">Loading...</uib-progressbar>
    <ul class="list-group" id="user_list">
        <li class="list-group-item col-md-3 col-sm-3" id="user_item" ng-repeat="u in userList | filter:query | orderBy:userName">
            <div id="user_item_content">
                <label>{{u.username}}</label>
                <br>
                <label ng-show="u.roles[0].authority == 'ROLE_ADMIN'">ADMIN</label>
                <label ng-show="u.roles[0].authority == 'ROLE_ANALYST'">ANALYST</label>
                <label ng-show="u.roles[0].authority == 'ROLE_DEVELOPER'">DEVELOPER</label>
                <br>
                <div class="button-footer">
                    <button class="btn btn-danger" type="button" ng-click="deleteUser(u)" uib-tooltip="Delete"> <span class="fa fa-trash"></span></button>
                    <button class="btn btn-info" type="button" ng-click="updateUser(u)"><span class="fa fa-pencil-square-o"></span> </button>
                </div>
            </div>
        </li>
    </ul>
</div>
