h1 {
    color: black !important;
    cursor: default;
}

#button-group {
    text-align: center;
    margin: auto;
}

#login {
    background: lightgrey;
    padding: 1em 2em;
    margin: 1em;
}

#register {
    background: lightgrey;
    padding: 1em 2em;
    margin: 1em;
}