#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 4px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

h3 small {
    padding-left: .5em;
}

.dropdown-menu li {
    cursor: pointer;
}

#query_item {
    /*
    clear: both;
    height: 4em;*/
    font-size: 1em;
    height: 16em;
    border: 0.75em solid #d9edf7;
    color: #696969;
    background-color: #A9C4EB !important;
}

#query_item label {
    line-height: 2em;
    vertical-align: middle;
    margin-left: 0.75em;
    margin-bottom: 0px;
}

#query_item p {
    line-height: 2em;
    vertical-align: middle;
    margin-left: 0.75em;
    height: 6em;
    margin-bottom: 0px;
}

#query_item_content {}

#query_item button {
    display: inline-block;
    float: right;
    margin-left: .5em;
}

#query_item .button-footer {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

pre {
    font-size: 1.1em !important;
}

.codeEdit {
    width: 100%;
    overflow: auto;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 1.1em;
    border: 1px solid #ccc;
    page-break-inside: avoid;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    background-color: #f5f5f5;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 4px;
}