#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 4px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

h3 small {
    padding-left: .5em;
}

.dropdown-menu li {
    cursor: pointer;
}

#query_item {
    margin: 1em;
    /*
    clear: both;
    height: 4em;*/
    font-size: 1em;
}

#query_item label {
    line-height: 2em;
    vertical-align: middle;
    margin-left: 0.75em;
}

#query_item button {
    display: inline-block;
    float: right;
    margin-left: .5em;
}