<div ng-include="'/views/navbar.html'"></div>
<!-- Page Content -->
<div class="container-fluid">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div class="row">
        <div class="col-sm-2">
            <div class="btn-group" uib-dropdown is-open="status.sortbyisopen">
                <button id="sortBy-button" class="btn btn-primary dropdown-toggle" type="button" uib-dropdown-toggle> Sort By <span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="sortBy-button">
                    <li role="menuitem"><a prevent-default ng-click="setSort('dateCreated')">Date Created (oldest first)</a></li>
                    <li role="menuitem"><a prevent-default ng-click="setSort('dateCreatedReverse')">Date Created (newest first)</a></li>
                    <!--<li role="menuitem"><a>Date Last Run</a></li>-->
                    <li role="menuitem"><a prevent-default ng-click="setSort('name')">Name A-Z</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div id="custom-search-input">
                <input type="text" size="30" ng-model="query.name" placeholder="Search" uib-typeahead="q.name for q in queryList | filter:{name:$viewValue} | limitTo:5" typeahead-no-results="noResults"> </div>
        </div>
    </div>
    <hr>
    <div class="status-message" ng-show="showNoQueriesMessage"> NO QUERIES </div>
    <uib-progressbar value="100" class="progress-striped active" ng-show="showProgressBar">Loading...</uib-progressbar>
    <ul class="list-group" id="query_list">
        <li class="list-group-item active col-md-4 col-sm-4" id="query_item" ng-repeat="q in queryList | orderBy:propertyName:reverse | filter:query">
            <div id="query_item_content">
                <label>{{q.name}}</label>
                <br>
                <p><small>{{q.description}}</small></p>
                <br>
                <p><small>Created By: {{q.createdBy}}</small></p>
                <div class="button-footer">
                    <button class="btn btn-danger" type="button" ng-click="deleteQuery(q)" uib-tooltip="Delete"> <span class="fa fa-trash"></span></button>
                    <button class="btn btn-info" type="button" ng-click="view(q)"> View</button>
                </div>
            </div>
        </li>
    </ul>
</div>
