<div ng-include="'/views/navbar.html'"></div>
<!-- Page Content -->
<div class="container-fluid">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div class="row">
        <div class="col-sm-2">
            <div class="btn-group" uib-dropdown is-open="status.sortbyisopen">
                <button id="sortBy-button" class="btn btn-primary dropdown-toggle" type="button" uib-dropdown-toggle> Sort By <span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="sortBy-button">
                    <li role="menuitem"><a prevent-default ng-click="setSort('dateCreated')">Date Created (oldest first)</a></li>
                    <li role="menuitem"><a prevent-default ng-click="setSort('dateCreatedReverse')">Date Created (newest first)</a></li>
                    <!--<li role="menuitem"><a>Date Last Run</a></li>-->
                    <li role="menuitem"><a prevent-default ng-click="setSort('name')">Name A-Z</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div id="custom-search-input">
                <input type="text" size="30" ng-model="query.name" placeholder="Search" uib-typeahead="q.name for q in queryList | filter:{name:$viewValue} | limitTo:5" typeahead-no-results="noResults"> </div>
        </div>
    </div>
    <hr>
    <div class="status-message" ng-show="showNoQueriesMessage"> NO QUERIES </div>
    <uib-progressbar value="100" class="progress-striped active" ng-show="showProgressBar">Loading...</uib-progressbar>
    <ul class="list-group" id="query_list">
        <li class="list-group-item active col-md-4 col-sm-4" id="query_item" ng-repeat="q in queryList | orderBy:propertyName:reverse | filter:query">
            <div id="query_item_content">
                <label>{{q.name}}</label>
                <br>
                <p><small>{{q.description}}</small></p>
                <br>
                <p><small>Created By: {{q.createdBy}}</small></p>
                <div class="button-footer">
                    <button class="btn btn-danger" type="button" ng-click="deleteQuery(q)" uib-tooltip="Delete"> <span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-info" type="button" ng-click="view(q)"> View</button>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- View Query Modal -->
<script type="text/ng-template" id="viewQueryModalContent.html">
    <!-- First step of modal -->
    <div ng-show="step == 1">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-11">
                    <h3 class="modal-title inline">{{query.name}}<small>{{query.description}}</small></h3> </div>
                <div class="col-xs-1">
                    <button class="btn btn-danger btn-sm pull-right" type="button" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <textarea class="codeEdit" rows="10" ng-model="query.sqlString"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning pull-left" type="button" ng-click="exportZeppelin()" uib-tooltip="Create a new Zeppelin Note from this query" tooltip-append-to-body="true">Export Zeppelin</button>
            <button class="btn btn-success" type="button" ng-disabled="loadingPreview" uib-tooltip="Update the existing query" tooltip-append-to-body="true" ng-click="updateQuery()" ng-show="queryRanFine">Save</button>
            <button class="btn btn-success" type="button" ng-disabled="loadingPreview" uib-tooltip="Save as a new query" tooltip-append-to-body="true" ng-click="isCollapsed = !isCollapsed" ng-show="queryRanFine">Save As</button>
            <button class="btn btn-info" type="button" ng-click="next()">Run</button>
            <div uib-collapse="isCollapsed">
                <hr>
                <div class="well well-sm">
                    <form name="saveQueryAs">
                        <div class="form-group">
                            <label for="queryName" class="pull-left">Name</label>
                            <input type="text " class="form-control" name="name" id="queryName" ng-model="newQuery.name" required> </div>
                        <div class="form-group">
                            <label for="queryDesc" class="pull-left">Description</label>
                            <input type="text" class="form-control" id="description" ng-model="newQuery.description"> </div>
                        <div class="form-group">
                            <button class="btn btn-info" type="button" ng-disabled="name.$invalid" ng-click="saveAs()">Save</button>
                            <button class="btn btn-danger pull-left" type="button" ng-hide="showExit" ng-click="isCollapsed =! isCollapsed">Cancel Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Second step of modal -->
    <div ng-show="step == 2 && !shouldShowNotifyDevsForm">
        <div class="modal-header" ng-show="queryRanFine">
            <div class="row">
                <div class="col-xs-11">
                    <h3 class="modal-title inline">{{query.name}}<small>{{query.description}}</small></h3> </div>
                <div class="col-xs-1">
                    <button class="btn btn-danger btn-sm pull-right" type="button" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </div>
        <div class="modal-body" ng-show="queryRanFine">
            <h4>Preview of Results <small>after running {{query.name}}</small></h4>
            <p><em>Note: Preview will only show up to 100 results.</em></p> <img id="loadingIcon" src="../../resources/rolling_loader.svg" ng-show="loadingPreview">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <div class="" id="queryResultsTable">
                <table class="table table-bordered">
                    <thead>
                        <th ng-repeat="column in tableResult.colNames"> {{column}} </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in tableResult.rows | limitTo:100">
                            <td ng-repeat="cell in row">{{cell}}</td>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- modal body when error -->
        <div class="modal-header" ng-show="!queryRanFine">
            <div class="row">
                <div class="col-xs-11">
                    <h3 class="modal-title inline">Encountered Problem with: {{query.name}}</h3> </div>
                <div class="col-xs-1">
                    <button class="btn btn-danger btn-sm pull-right" type="button" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </div>
        <div class="modal-body" ng-show="!queryRanFine">
            <div ng-show="connectionFailed" class="text-danger">
                <h4> Failed to run query</h4>
                <!--<p>{{errorMsg}}</p>-->
            </div>
            <!--
        <p ng-show="noResults">
            The join query ran, but the resulting dataset was empty. <br><br>
            This means no matching data was found between the dataset's in their join columns. <br><br>
            Make sure that for each join operation, the sample data values have the same format(eg. when joining two datasets on phone numbers, if one dataset’s phone numbers are in the form (XXX)XXX-XXXX, the other must have them in exactly the same format and not something like XXXXXXXXXX). <br><br>
                TODO: ADD TABLE W/ SAMPLE DATA VALUES LIKE MOCKUP
            If there is a problem with how your data is formatted, report this to a developer and ask them to tranform the mismatched data to a common format.
        </p>
-->
            <div ng-show="noResults" class="text-danger">
                <h4>No Results </h4>
                <p> The join query ran, but the resulting table was empty.
                    <br>
                    <br> This means no matching data was found between the datasets in their join columns.
                    <br>
                    <br> </p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" type="button" ng-click="download = !download" ng-disabled="loadingPreview" uib-tooltip="Download the full results table" ng-show="queryRanFine" tooltip-append-to-body="true">Download</button>
            <button class="btn btn-warning pull-left" type="button" ng-click="previous()">Back</button>
            <button class="btn btn-success" type="button" ng-click="showNotifyDevsForm()" ng-show="!queryRanFine">Contact Developers</button>
            <button class="btn btn-success" type="button" ng-disabled="loadingPreview" uib-tooltip="Update the existing query" tooltip-append-to-body="true" ng-click="updateQuery()" ng-show="queryRanFine">Save</button>
            <button class="btn btn-success" type="button" ng-disabled="loadingPreview" uib-tooltip="Save as a new query" tooltip-append-to-body="true" ng-click="isCollapsed = !isCollapsed" ng-show="queryRanFine">Save As</button>
            <div uib-collapse="isCollapsed">
                <hr>
                <div class="well well-sm">
                    <form name="saveQueryAs">
                        <div class="form-group">
                            <label for="queryName" class="pull-left">Name</label>
                            <input type="text " class="form-control" name="name" id="queryName" ng-model="newQuery.name" required> </div>
                        <div class="form-group">
                            <label for="queryDesc" class="pull-left">Description</label>
                            <input type="text" class="form-control" id="description" ng-model="newQuery.description"> </div>
                        <div class="form-group">
                            <button class="btn btn-info" type="button" ng-disabled="name.$invalid" ng-click="saveAs()">Save</button>
                            <button class="btn btn-danger pull-left" type="button" ng-hide="showExit" ng-click="isCollapsed =! isCollapsed">Cancel Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div uib-collapse="!download">
                <hr>
                <div class="well well-sm">
                    <form name="downloadQueryAs">
                        <div class="form-group">
                            <label for="filename" class="pull-left">Filename</label>
                            <input type="text" class="form-control" name="name" id="filename" ng-model="filename" required>.csv </div>
                        <div class="form-group">
                            <button class="btn btn-info" type="button" ng-csv="tableResult.rows" csv-header="tableResult.colNames" filename="{{filename}}.csv">Download As CSV</button>
                            <button class="btn btn-danger pull-left" type="button" ng-click="download = !download">Cancel Download</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Report problem to dev form -->
    <div class="modal-header" ng-show="shouldShowNotifyDevsForm">
        <div class="row">
            <div class="col-xs-11">
                <h3 class="modal-title inline">Reports Problem Regarding: {{query.name}}</h3> </div>
            <div class="col-xs-1">
                <button class="btn btn-danger btn-sm pull-right" type="button" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>
    <div class="modal-body" ng-show="shouldShowNotifyDevsForm">
        <div ng-show="!reportSubmitted">
            <p>Here you can notify your developers that you are having a problem using Cliffhanger or joining datasets. This opens a discussion board where you and a developer can comment back and forth about the problem. This discussion board will remain open until the problem is resolved. </p>
            <form name="notifyDevsForm">
                <div class="form-group">
                    <label for="subject">Subject </label>
                    <textarea class="form-control" rows="1" name="subject" id="problemSubject" ng-model="newProblemInput.subject"> </textarea>
                </div>
                <div class="form-group">
                    <label for="msg">Message </label>
                    <textarea class="form-control" rows="15" name="msg" id="problemMessage" ng-model="newProblemInput.body"></textarea>
                </div>
            </form>
        </div>
        <p ng-show="reportSubmitted">{{postReportSubmissionMessage}}</p>
    </div>
    <div class="modal-footer" ng-show="shouldShowNotifyDevsForm">
        <button class="btn btn-warning pull-left" ng-show="!reportSubmitted" type="button" ng-click="hideNotifyDevsForm()">Cancel</button>
        <button class="btn btn-success" ng-show="!reportSubmitted" type="button" ng-click="reportProblem()">Send to Developers</button>
        <button class="btn btn-success pull-right" type="button" ng-click="cancel()" ng-show="reportSubmitted">Ok</button>
    </div>
</script>
<!-- Delete Query Modal -->
<script type="text/ng-template" id="queryDelete.html">
    <div class="modal-header">
        <h3 class="modal-title"> Delete Query: {{query.name}}</h3> </div>
    <div class="modal-body">
        <p>Are you sure you want to delete <em><strong>{{query.name}}</strong></em>? This action cannot be undone!</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
    </div>
</script>
