<!-- Update Hook Modal -->
<div class="modal-header dev">
    <div class="row">
        <div class="col-xs-11">
            <h3 class="modal-title inline">Edit Hook: {{tag.name}}</h3> </div>
        <div class="col-xs-1">
            <button class="btn btn-danger btn-sm pull-right" type="button" ng-click="cancel()"><span class="fa fa-times"></span></button>
        </div>
    </div>
</div>
<div class="modal-body dev">
    <div class="form-group">
        <label for="tagName">Name</label>
        <input type="text" class="form-control" id="tagName" ng-model="input.name"> </div>
    <div class="form-group">
        <label for="tagDesc">Description</label>
        <input type="text" class="form-control" id="tagDesc" ng-model="input.description"> </div>
</div>
<div class="modal-footer dev">
    <button class="btn btn-success" type="button" ng-click="complete()">Save Changes</button>
</div>
